body{
  background-color: royalblue;
  margin: 0;
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding-left: 70px;
}
.gnb{
  position: absolute;
  /* top: 50%;
  transform: translateY(-50%);
  left: 50px; */
}


.gnb a::before{
  position: absolute;
  top: 20px;
  left: -30px;
  transform: rotate(45deg);
  width: 13px;
  height: 13px;
  border-color: #fff;
  border-width: 4px 4px 0 0;
  border-style: solid;
  content: '';

  /* content: '>'; */
  /* font-size: 35px; */
  /* margin-right: 10px; */

  opacity: 0;
  visibility: hidden;
  transition: 0.5s
}

.gnb a:hover::before{
  opacity: 1;
  visibility: visible;
}
.gnb a{
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  opacity: 1;
  transition: .5s;
  margin: 10px 0;
}

.gnb:hover a:not(:hover){
  opacity: 0.3;
}